@font-face{
    src: url('../fonts/Rubik/Rubik-VariableFont_wght.ttf');
    font-family: Rubik;
}
*{
    font-family: Rubik;
}
input:focus{
    box-shadow: none;
}
.h-100vh{
    height: 100vh;
}
.bg-all{
    background-color:#E5E5E5;
}
.text-blue{
    color: #7E98DF;
}
.btn-blue{
    background-color: #7E98DF;
    color: white;
}
.btn-outline-blue{
    border-color: #7E98DF;
}
.rounded-btn{
    border-radius: 70px;
}

@media (min-width:586px){
    .br-30px{
        border-radius: 30px;
    }
}